.page {
  background-color: var(--bg-color, #000028);
  background-image: url("../images/cover-image-dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-auto-flow: row;
  height: 100vh;
  min-height: 668px;
  padding: 20px;
}

.header__theme-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.header__title__text {
  position: relative;
  right: 20px;
  color: var(--header-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--text-shadow, #ff0070);
}

.text__content {
  display: flex;
  justify-self: self-end;
  align-self: center;
  color: var(--title-color, #000028);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  max-inline-size: 491px;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  border: none;
  padding: 0px 13px;
  color: var(--decor, #ff0070);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.125rem;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--focus-color, #353430);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor, #ff0070);
  pointer-events: none;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--decor, #ff0070);
  border-left: 1px solid var(--decor, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--decor, #ff0070);
  border-right: 1px solid var(--decor, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.header__decor_rec {
  position: absolute;
  top: 20.3px;
  right: 21px;
  display: flex;
  gap: 5px;
  color: var(--accent-color, #ff0070);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-transform: uppercase;
}

.header__decor_rec::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-inline: 5px 8px;
  margin-block-start: 7.4px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
  background-color: var(--accent-color, #ff0070);
}

.section__content {
  display: grid;
  padding: 60px 20px 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link, #ff0070);
}

.link:hover {
  border-bottom: 2px solid var(--text-color, #ff0070);
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.content_focus {
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section__title {
  grid-column: span 3;
  color: var(--title-color-sub, #ff0070);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.section__title__galeria {
  grid-column: span 1;
  margin-block-end: 20px;
  color: var(--title-color);
}

.section__title_why {
  grid-column: span 1;
  grid-row: span 2;
}

.section__subtitle {
  margin-block-end: 10px;
  color: var(--title-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.section__subtitle__bold {
  font-weight: 700;
}

.section__paragraf {
  margin-block-end: 20px;
  color: var(--text-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.section__paragraf:last-child {
  margin-block-end: initial;
}

.content_concentration {
  grid-template-columns: minmax(225px, 1fr) 1fr 1fr;
  gap: 20px;
  padding: 50px 20px 20px;
}

.title_attention {
  grid-column: span 3;
  max-inline-size: 315px;
}

.block {
  display: flex;
}

.content_goldfish {
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 60px 20px 20px;
}
.title_goldfish {
  grid-column: span 1;
}

.subtitle__goldfish {
  margin-block-end: 20px;
}

.article_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.component__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__card {
  display: flex;
  flex-direction: column;
}

.section__galeria {
  gap: 10px;
  padding: 60px 20px 60px;
}

.content__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.galeria {
  display: grid;
  grid-area: inherit;
  gap: 20px;
}

.content__img:first-of-type {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.content__img:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.content__img:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.content__img:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.content__img:last-of-type {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  height: 100vh;
  min-height: 668px;
  padding: 20px;
}

.footer__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--text-shadow, #ff0070);
}

@media (width<= 900px) {
  .header__theme-menu {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: center;
  }

  .text__content {
    max-inline-size: 364px;
  }

  .content_focus {
    gap: 20px;
    padding: 60px 20px 10px;
  }

  .content_concentration {
    grid-template-columns: minmax(236px, 1fr);
  }

  .title_attention {
    grid-column: initial;
    max-inline-size: 236px;
  }

  .content_goldfish {
    gap: 20px;
  }

  .article_card {
    gap: initial;
  }
}

@media (width<= 550px) {
  .page {
    max-width: 375px;
  }

  .header {
    padding: 10px;
  }

  .header__decor_rec {
    top: 11px;
    right: 11px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .header__title__text {
    right: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu {
    align-items: center;
    max-width: 375px;
  }

  .section__content {
    padding: 40px 10px 20px;
  }

  .header__theme-menu-list {
    justify-content: flex-start;
  }

  .content_focus {
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
  }

  .section__block {
    grid-column: 1;
    gap: initial;
  }

  .title_attention {
    grid-column: inherit;
    max-inline-size: none;
    max-block-size: none;
  }

  .content_concentration {
    grid-template-rows: 1fr;
    padding: 30px 10px 20px;
  }

  .content_goldfish {
    grid-template-columns: inherit;
    padding: 30px 10px 20px;
  }

  .content__img:first-of-type {
    grid-column: inherit;
    grid-row: 1;
  }

  .content__img:nth-of-type(2) {
    grid-column: inherit;
    grid-row: 2;
  }

  .content__img:nth-of-type(3) {
    grid-column: inherit;
    grid-row: 3;
  }

  .content__img:nth-of-type(4) {
    grid-column: inherit;
    grid-row: 4;
  }

  .content__img:last-of-type {
    grid-column: inherit;
    grid-row: 5;
  }

  .section__galeria {
    gap: initial;
    padding: 30px 10px 40px 10px;
  }

  .galeria {
    gap: 10px;
  }

  .footer {
    justify-content: center;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
